.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 9px;
}.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-tabs-1 {
  min-height: 700px;
  margin-top: 60px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-table-1 {
  width: 1093px;
  margin: 30px 3px 0;
}

.u-block-5455-112 {
  height: 62px;
}

.u-section-2 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -51px 195px 0 auto;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 39px auto 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-table-2 {
  width: 1070px;
  margin: 30px auto 0;
}

.u-block-5455-77 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-section-2 .u-table-cell-23 {
  background-image: none;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
}

.u-section-2 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: -332px 60px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 47px;
  height: 47px;
  margin: 18px 60px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 47px;
  height: 47px;
  margin: 21px 60px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 47px;
  height: 47px;
  margin: 21px 60px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 47px;
  height: 47px;
  margin: 24px 60px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5625rem;
  letter-spacing: 1px;
  margin: 38px auto 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 64px auto 0;
}

.u-section-2 .u-table-3 {
  width: 1066px;
  margin: 14px auto 0 14px;
}

.u-block-5455-121 {
  background-image: none;
}

.u-section-2 .u-table-cell-27 {
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-table-cell-31 {
  background-image: none;
}

.u-section-2 .u-table-cell-33 {
  background-image: none;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-2 .u-table-4 {
  width: 1066px;
  margin: 16px auto 0 14px;
}

.u-block-5455-174 {
  background-image: none;
}

.u-section-2 .u-table-cell-35 {
  background-image: none;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
}

.u-section-2 .u-table-cell-39 {
  background-image: none;
}

.u-section-2 .u-table-cell-41 {
  background-image: none;
}

.u-section-2 .u-table-cell-43 {
  background-image: none;
}

.u-section-2 .u-table-cell-45 {
  background-image: none;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-2 .u-table-5 {
  width: 1066px;
  margin: 16px auto 0 14px;
}

.u-block-5455-144 {
  background-image: none;
}

.u-section-2 .u-table-cell-47 {
  background-image: none;
}

.u-section-2 .u-table-cell-49 {
  background-image: none;
}

.u-section-2 .u-table-cell-51 {
  background-image: none;
}

.u-section-2 .u-table-cell-53 {
  background-image: none;
}

.u-section-2 .u-table-cell-55 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 114px auto 0;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-2 .u-text-5 {
  margin: 113px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 918px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -52px;
  }

  .u-section-2 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -330px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-2 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 4px;
  }

  .u-section-2 .u-table-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 100px;
  }

  .u-section-2 .u-table-4 {
    height: 361px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}