.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-image-1 {
  width: 566px;
  height: 400px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4375rem;
  letter-spacing: 1px;
  margin: 33px auto 0 295px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4375rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -57px 339px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 241px;
  }
}